@model IEnumerable<APP_PG_USERS_ROLES_SERVICE.Models.not_typical_grants_exec_log>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.txt_error)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.not_typical_grants_exec)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.txt_error)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.not_typical_grants_exec.id_not_typical_grant_exec)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_not_typical_grants_exec_log">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_not_typical_grants_exec_log">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_not_typical_grants_exec_log">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
