@model APP_PG_USERS_ROLES_SERVICE.Models.DBData

@{
	ViewData["Title"] = "Details";
}

<div class="row g-3 mb-4 align-items-center justify-content-between">
	<div class="col-auto">
		<a class="btn btn-outline-primary" asp-action="index" asp-route-id="@ViewBag.ID_Srv">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
			</svg> Вернуться
		</a>
	</div>
	<div class="col-auto">
		<div class="page-utilities">
			<div class="row g-2 justify-content-start justify-content-md-end align-items-center">
				<div class="col-auto">
					<h1 class="app-page-title mb-0">Сервер <a asp-action="index" asp-route-id="@ViewBag.ID_Srv">@ViewBag.Srv_Name </a> / БД: <u><b>@ViewBag.DB_Name</b></u></h1>

				</div>
			</div><!--//row-->
		</div><!--//table-utilities-->
	</div><!--//col-auto-->
</div><!--//row-->


<nav id="orders-table-tab" class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
	<a class="flex-sm-fill text-sm-center nav-link active" id="db-data-tab" data-bs-toggle="tab" href="#db-data" role="tab" aria-controls="db-data" aria-selected="true">База данных</a>
	<a class="flex-sm-fill text-sm-center nav-link" id="schema-paid-tab" data-bs-toggle="tab" href="#schema-paid" role="tab" aria-controls="schema-paid" aria-selected="false">Схемы БД</a>
	<a class="flex-sm-fill text-sm-center nav-link" id="nottip-grants-paid-tab" data-bs-toggle="tab" href="#nottip-grants-paid" role="tab" aria-controls="nottip-grants-paid" aria-selected="false">Нетиповые задачи</a>
</nav>


<div class="tab-content" id="orders-table-tab-content">
	<div class="tab-pane fade show active" id="db-data" role="tabpanel" aria-labelledby="db-data-tab">
		<div class="row gy-4">
			<div class="col-12 col-lg-12">
				<div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">
					<div class="app-card-header p-3 border-bottom-0">
						<div class="row align-items-center gx-3">
							<div class="col-auto">
								<div class="app-icon-holder">
									<svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-database" viewBox="0 0 16 16">
										<path d="M4.318 2.687C5.234 2.271 6.536 2 8 2s2.766.27 3.682.687C12.644 3.125 13 3.627 13 4c0 .374-.356.875-1.318 1.313C10.766 5.729 9.464 6 8 6s-2.766-.27-3.682-.687C3.356 4.875 3 4.373 3 4c0-.374.356-.875 1.318-1.313ZM13 5.698V7c0 .374-.356.875-1.318 1.313C10.766 8.729 9.464 9 8 9s-2.766-.27-3.682-.687C3.356 7.875 3 7.373 3 7V5.698c.271.202.58.378.904.525C4.978 6.711 6.427 7 8 7s3.022-.289 4.096-.777A4.92 4.92 0 0 0 13 5.698ZM14 4c0-1.007-.875-1.755-1.904-2.223C11.022 1.289 9.573 1 8 1s-3.022.289-4.096.777C2.875 2.245 2 2.993 2 4v9c0 1.007.875 1.755 1.904 2.223C4.978 15.71 6.427 16 8 16s3.022-.289 4.096-.777C13.125 14.755 14 14.007 14 13V4Zm-1 4.698V10c0 .374-.356.875-1.318 1.313C10.766 11.729 9.464 12 8 12s-2.766-.27-3.682-.687C3.356 10.875 3 10.373 3 10V8.698c.271.202.58.378.904.525C4.978 9.71 6.427 10 8 10s3.022-.289 4.096-.777A4.92 4.92 0 0 0 13 8.698Zm0 3V13c0 .374-.356.875-1.318 1.313C10.766 14.729 9.464 15 8 15s-2.766-.27-3.682-.687C3.356 13.875 3 13.373 3 13v-1.302c.271.202.58.378.904.525C4.978 12.71 6.427 13 8 13s3.022-.289 4.096-.777c.324-.147.633-.323.904-.525Z" />
									</svg>
								</div><!--//icon-holder-->

							</div><!--//col-->
							<div class="col-auto">
								<h4 class="app-card-title">Информация о БД</h4>
							</div><!--//col-->
							<div class="col-auto">
								<input type="submit" value="Обновить данные с сервера" id="btnupddbgrant" class="btn app-btn-secondary" />
							</div><!--//col-->
						</div><!--//row-->
					</div><!--//app-card-header-->
					<div class="app-card-body px-4 w-100">
						<div class="item border-bottom py-3">
							<table class="table">
								<thead>
									<tr>
										<th>
											Код БД (OID)
										</th>
										<th>
											Имя БД
										</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model.databases)
									{
										<tr>
											<td>
												@Html.DisplayFor(modelItem => item.oid_db)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.db_name)
											</td>
										</tr>
									}
								</tbody>
							</table>
						</div><!--//item-->
					</div><!--//app-card-body-->
				</div><!--//app-card-->
			</div><!--//col-->
			<div class="col-12 col-lg-8">
				<div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">
					<div class="app-card-header p-3 border-bottom-0">
						<div class="row align-items-center gx-3">
							<div class="col-auto">
								<div class="app-icon-holder">
									<svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-diagram-3" viewBox="0 0 16 16">
										<path fill-rule="evenodd" d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H14a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 2 7h5.5V6A1.5 1.5 0 0 1 6 4.5v-1zM8.5 5a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1zM0 11.5A1.5 1.5 0 0 1 1.5 10h1A1.5 1.5 0 0 1 4 11.5v1A1.5 1.5 0 0 1 2.5 14h-1A1.5 1.5 0 0 1 0 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm4.5.5A1.5 1.5 0 0 1 7.5 10h1a1.5 1.5 0 0 1 1.5 1.5v1A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm4.5.5a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z" />
									</svg>
								</div><!--//icon-holder-->

							</div><!--//col-->
							<div class="col-auto">
								<h4 class="app-card-title">Гранты</h4>
							</div><!--//col-->
							<div class="col-auto">
								@Html.TextBox("SearchGrantDB","",new { @class="form-control", placeholder="Поиск..."})
							</div><!--//col-->
						</div><!--//row-->
					</div><!--//app-card-header-->
					<div class="app-card-body px-4 w-100">
						<div class="item border-bottom py-3" style="min-height: 240px;max-height: 240px; overflow-y:auto;-webkit-overflow-scrolling: touch;">
							<div id="DBDataSearching">
								@{
									Html.RenderPartial("GetGrantsDb", Model.db_grants);
								}
							</div>

						</div><!--//item-->
					</div><!--//app-card-body-->
					<div class="app-card-footer p-4 mt-auto">
						<button type="button" data-toggle="ajax-modal" data-target="#AddDBGrant" class="BtnModalView btn app-btn-secondary" data-url="@Url.Action("Create","db_grants", new { id = ViewBag.ID_Srv, db = ViewBag.ID_DB})">Назначить права</button>
					</div><!--//app-card-footer-->

				</div><!--//app-card-->
			</div><!--//col-->
			<div class="col-12 col-lg-4">
				<div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">
					<div class="app-card-header p-3 border-bottom-0">
						<div class="row align-items-center gx-3">
							<div class="col-auto">
								<div class="app-icon-holder">
									<svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-file-earmark-post" viewBox="0 0 16 16">
										<path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z" />
										<path d="M4 6.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-7zm0-3a.5.5 0 0 1 .5-.5H7a.5.5 0 0 1 0 1H4.5a.5.5 0 0 1-.5-.5z" />
									</svg>
								</div><!--//icon-holder-->

							</div><!--//col-->
							<div class="col-auto">
								<h4 class="app-card-title">Возможные гранты</h4>
							</div><!--//col-->
						</div><!--//row-->
					</div><!--//app-card-header-->
					<div class="app-card-body px-4 w-100">
						<div class="item border-bottom py-3">
							<table class="table">
								<thead>
									<tr>
										<th>
											Права
										</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model.db_grant_privs)
									{
										<tr>
											<td>
												@Html.DisplayFor(modelItem => item.db_grant_priv_name)
											</td>
										</tr>
									}
								</tbody>
							</table>
						</div><!--//item-->
					</div><!--//app-card-body-->

				</div><!--//app-card-->
			</div><!--//col-->
		</div>
	</div><!--//tab-pane-->

	<div class="tab-pane fade" id="schema-paid" role="tabpanel" aria-labelledby="schema-paid-tab">
		<div class="row gy-4">
			<div class="col-12 col-lg-8">
				<div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">
					<div class="app-card-header p-3 border-bottom-0">
						<div class="row align-items-center gx-3">
							<div class="col-auto">
								<div class="app-icon-holder">
									<svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-table" viewBox="0 0 16 16">
										<path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z" />
									</svg>
								</div><!--//icon-holder-->

							</div><!--//col-->
							<div class="col-auto">
								<h4 class="app-card-title">Схемы</h4>
							</div><!--//col-->
							<div class="col-auto">
								@Html.TextBox("SearchSchema","",new { @class="form-control", placeholder="Поиск схемы..."})
							</div><!--//col-->
							<div class="col-auto">
								<input type="submit" value="Обновить данные с сервера" id="btnupdrelroleuser" class="btn app-btn-secondary" />
							</div><!--//col-->
						</div><!--//row-->
					</div><!--//app-card-header-->
					<div class="app-card-body px-4 w-100">
						<div class="item border-bottom py-3" style="min-height: 200px;max-height: 200px; overflow-y:auto;-webkit-overflow-scrolling: touch;">
							<div id="SchDataSearching">
								@{
									Html.RenderPartial("GetSchemas", Model.schemas);
								}
							</div>
						</div><!--//item-->
					</div><!--//app-card-body-->
					<div class="app-card-footer p-4 mt-auto">
					</div><!--//app-card-footer-->
				</div><!--//app-card-->

			</div><!--//col-->
			<div class="col-12 col-lg-4">
				<div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">
					<div class="app-card-header p-3 border-bottom-0">
						<div class="row align-items-center gx-3">
							<div class="col-auto">
								<div class="app-icon-holder">
									<svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-file-earmark-post" viewBox="0 0 16 16">
										<path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z" />
										<path d="M4 6.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-7zm0-3a.5.5 0 0 1 .5-.5H7a.5.5 0 0 1 0 1H4.5a.5.5 0 0 1-.5-.5z" />
									</svg>
								</div><!--//icon-holder-->

							</div><!--//col-->
							<div class="col-auto">
								<h4 class="app-card-title">Возможные гранты</h4>
							</div><!--//col-->
						</div><!--//row-->
					</div><!--//app-card-header-->
					<div class="app-card-body px-4 w-100">
						<div class="item border-bottom py-3" style="min-height: 200px;max-height: 200px; overflow-y:auto;-webkit-overflow-scrolling: touch;">
							<table class="table">
								<thead>
									<tr>
										<th>
											Права
										</th>
									</tr>
								</thead>
								<tbody id="UserDataSearching">
									@foreach (var item in Model.schm_grant_privs)
									{
										<tr>
											<td>
												@Html.DisplayFor(modelItem => item.schm_grant_priv_name)
											</td>
										</tr>
									}
								</tbody>
							</table>
						</div><!--//item-->
					</div><!--//app-card-body-->
					<div class="app-card-footer p-4 mt-auto">
					</div><!--//app-card-footer-->
				</div><!--//app-card-->
			</div><!--//col-->
			<div class="col-12 col-lg-12">
				<div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">
					<div class="app-card-header p-3 border-bottom-0">
						<div class="row align-items-center gx-3">
							<div class="col-auto">
								<div class="app-icon-holder">
									<svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
										<path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
									</svg>
								</div><!--//icon-holder-->

							</div><!--//col-->
							<div class="col-auto">
								<h4 class="app-card-title">Назначение грантов</h4>
							</div><!--//col-->
							<div class="col-auto">
								@Html.TextBox("SearchSchemaGrants","",new { @class="form-control", placeholder="Поиск грантов..."})
							</div><!--//col-->
						</div><!--//row-->
					</div><!--//app-card-header-->
					<div class="app-card-body px-4 w-100">
						<div class="item border-bottom py-3" style="min-height: 200px;max-height: 200px; overflow-y:auto;-webkit-overflow-scrolling: touch;">
							<div id="SchGtDataSearching">
								@{
									Html.RenderPartial("GetGrantsSchema", Model.schm_grants);
								}
							</div>
						</div><!--//item-->
					</div><!--//app-card-body-->
					<div class="app-card-footer p-4 mt-auto">
						<button type="button" data-toggle="ajax-modal" data-target="#AddTask" class="BtnModalView btn app-btn-secondary" data-url="@Url.Action("Create","schm_grants", new { id = ViewBag.ID_Srv, db = ViewBag.ID_DB})">Назначить права</button>
					</div><!--//app-card-footer-->
				</div><!--//app-card-->

			</div><!--//col-->
		</div>
	</div><!--//tab-pane-->

	<div class="tab-pane fade" id="nottip-grants-paid" role="tabpanel" aria-labelledby="nottip-grants-paid-tab">
		<div class="row gy-4">
			<div class="col-12 col-lg-8">
				<div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">
					<div class="app-card-header p-3 border-bottom-0">
						<div class="row align-items-center gx-3">
							<div class="col-auto">
								<div class="app-icon-holder">
									<svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
										<path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
									</svg>
								</div><!--//icon-holder-->

							</div><!--//col-->
							<div class="col-auto">
								<h4 class="app-card-title">Шаблоны для нетиповых задач</h4>
							</div><!--//col-->
							<div class="col-auto">
								@Html.TextBox("SearchNotTemplate","",new { @class="form-control", placeholder="Поиск..."})
							</div><!--//col-->
						</div><!--//row-->
					</div><!--//app-card-header-->
					<div class="app-card-body px-4 w-100">
						<div class="item border-bottom py-3" style="min-height: 160px;max-height: 200px; overflow-y:auto;-webkit-overflow-scrolling: touch;">
							<div id="NotTemDataSearching">
								@{
									Html.RenderPartial("GetTasks", Model.tasks_not_typical_grants);
								}
							</div>
						</div><!--//item-->
					</div><!--//app-card-body-->
					<div class="app-card-footer p-4 mt-auto">
						<input type="submit" value="Обновить данные с сервера" id="btnupdnottasks" class="btn app-btn-secondary" />
						<button type="button" data-toggle="ajax-modal" data-target="#AddSchGrant" class="BtnModalView btn app-btn-secondary" data-url="@Url.Action("Create","tasks_not_typical_grants", new { id = ViewBag.ID_Srv, db = ViewBag.ID_DB})">Добавить задачу</button>
					</div><!--//app-card-footer-->
				</div><!--//app-card-->

			</div><!--//col-->
			<div class="col-12 col-lg-4">
				<div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">
					<div class="app-card-header p-3 border-bottom-0">
						<div class="row align-items-center gx-3">
							<div class="col-auto">
								<div class="app-icon-holder">
									<svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
										<path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
									</svg>
								</div><!--//icon-holder-->

							</div><!--//col-->
							<div class="col-auto">
								<h4 class="app-card-title">Параметры по-умолчанию</h4>
							</div><!--//col-->

						</div><!--//row-->
					</div><!--//app-card-header-->
					<div class="app-card-body px-4 w-100">
						<div class="item border-bottom py-3" style="min-height: 160px;max-height: 200px; ">
							<table class="table">
								<thead>
									<tr>
										<th>
											Параметр
										</th>
										<th>
											Значение
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											$role
										</td>
										<td>
											Имя роли, установленной в задаче
										</td>
									</tr>
									<tr>
										<td>
											$db
										</td>
										<td>
											Имя БД, в которой располагается выбранная схема
										</td>
									</tr>
									<tr>
										<td>
											$sch
										</td>
										<td>
											Имя схемы задания
										</td>
									</tr>
								</tbody>
							</table>
						</div><!--//item-->
					</div><!--//app-card-body-->

				</div><!--//app-card-->

			</div><!--//col-->
			<div class="col-12 col-lg-12">
				<div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">
					<div class="app-card-header p-3 border-bottom-0">
						<div class="row align-items-center gx-3">
							<div class="col-auto">
								<div class="app-icon-holder">
									<svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
										<path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
									</svg>
								</div><!--//icon-holder-->

							</div><!--//col-->
							<div class="col-auto">
								<h4 class="app-card-title">Нетиповые задачи</h4>
							</div><!--//col-->
							<div class="col-auto">
								@Html.TextBox("SearchNotTask","",new { @class="form-control", placeholder="Поиск..."})
							</div><!--//col-->
						</div><!--//row-->
					</div><!--//app-card-header-->
					<div class="app-card-body px-4 w-100">
						<div class="item border-bottom py-3" style="min-height: 200px;max-height: 200px; overflow-y:auto;-webkit-overflow-scrolling: touch;">
							<div id="NotTaskDataSearching">
								@{
									Html.RenderPartial("GetNotTasks", Model.not_typical_grants);
								}
							</div>
						</div><!--//item-->
					</div><!--//app-card-body-->
					<div class="app-card-footer p-4 mt-auto">
						<input type="submit" value="Обновить данные с сервера" id="btnupdnottasksex" class="btn app-btn-secondary" />
						<button type="button" data-toggle="ajax-modal" data-target="#FormAddNotTyp" class="BtnModalView btn app-btn-secondary" data-url="@Url.Action("Create","not_typical_grants", new { id = ViewBag.ID_Srv, db = ViewBag.ID_DB})">Назначить задачу</button>
					</div><!--//app-card-footer-->
				</div><!--//app-card-->

			</div><!--//col-->
		</div>
	</div><!--//tab-pane-->
</div><!--//tab-content-->

<div id="PlaceHolderHere">
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

<script>
	$(document).ready(function () {
		var PlaceHolderElement = $('#PlaceHolderHere');
		$(document).on('click', '.BtnModalView', function (event) {
			var url = $(this).data('url');
			$.get(url).done(function (data) {
				PlaceHolderElement.html(data);
				PlaceHolderElement.find('.modal').modal('show');
			});
		});
		PlaceHolderElement.on('click', '[data-save="modal"]', function (event) {
			event.preventDefault();
			var form = $(this).parents('.modal').find('form');
			var actionUrl = form.attr('action');
			var dataToSend = form.serialize();
			$.ajax({
				type: 'POST',
				url: actionUrl,
				data: dataToSend,
				contentType: 'application/x-www-form-urlencoded',
				success: function (data) {
					$('#imgSpinner1').show(1000);
					setTimeout(function () {
						PlaceHolderElement.find('.modal').modal('hide');
						alertify.set('notifier', 'delay', 5);
						alertify.notify(data);
						$("#btnupddbgrant").click();
						$("#btnupdrelroleuser").click();
						$("#btnupdnottasks").click();
						$("#btnupdnottasksex").click();
					}, 3000);
					
				},
				error: function (xhr) {
					setTimeout(function () {
						$('#imgSpinner2').show(1000);
						$('#imgSpinner1').hide(1000);
						alertify.set('notifier', 'delay', 2);
						alertify.error(xhr.responseText);
						console.log(xhr.responseText);
					}, 1500);
					
				},
				beforeSend: function () {
					$('#imgSpinner2').hide();
					$('#imgSpinner1').show(1000);
				}
				// hides the loader after completion of request, whether successfull or failor.
				
			});

		});
		PlaceHolderElement.on('click', '[data-dismiss="modal"]', function (event) {
			event.preventDefault();
			PlaceHolderElement.find('.modal').modal('hide');
		});
		$("#SearchGrantDB").bind('input', function () {
			var SearchValue = $("#SearchGrantDB").val();
			var SearchIDDB = '@ViewBag.ID_DB';
			var SetData = $("#DBDataSearching");
			$('#DBDataSearching').load('@Url.Action("GetGrantsDb", "databases")?iddb=' + SearchIDDB + '&SearchDB=' + SearchValue);
		});
		$("#btnupddbgrant").on('click', function () {
			var SearchValue = $("#SearchGrantDB").val();
			var SearchIDDB = '@ViewBag.ID_DB';
			var SetData = $("#DBDataSearching");
			$('#DBDataSearching').hide().load('@Url.Action("GetGrantsDb", "databases")?iddb=' + SearchIDDB + '&SearchDB=' + SearchValue).show(1000);
			alertify.set('notifier', 'delay', 2);
			alertify.notify('Данные по грантам БД обновлены!');
		});
		$("#SearchSchema").bind('input', function () {
			var SearchValue = $("#SearchSchema").val();
			var SearchIDDB = '@ViewBag.ID_DB';
			var SetData = $("#SchDataSearching");
			$('#SchDataSearching').load('@Url.Action("GetSchemas", "databases")?iddb=' + SearchIDDB + '&SearchDB=' + SearchValue);
		});
		$("#SearchSchemaGrants").bind('input', function () {
			var SearchValue = $("#SearchSchemaGrants").val();
			var SearchIDDB = '@ViewBag.ID_DB';
			var SetData = $("#SchGtDataSearching");
			$('#SchGtDataSearching').load('@Url.Action("GetGrantsSchema", "databases")?iddb=' + SearchIDDB + '&SearchDB=' + SearchValue);
		});
		$("#btnupdrelroleuser").on('click', function () {
			var SearchValue = $("#SearchSchema").val();
			var SearchIDDB = '@ViewBag.ID_DB';
			$('#SchDataSearching').hide().load('@Url.Action("GetSchemas", "databases")?iddb=' + SearchIDDB + '&SearchDB=' + SearchValue).show(1000);
			var SearchValue2 = $("#SearchSchemaGrants").val();
			var SearchIDDB2 = '@ViewBag.ID_DB';
			$('#SchGtDataSearching').hide().load('@Url.Action("GetGrantsSchema", "databases")?iddb=' + SearchIDDB2 + '&SearchDB=' + SearchValue2).show(1000);
			alertify.set('notifier', 'delay', 2);
			alertify.notify('Данные по схемам БД обновлены!');
		});
		$("#btnupdnottasks").on('click', function () {
			var SearchValue = $("#SearchNotTemplate").val();
			var SetData = $("#NotTemDataSearching");
			$('#NotTemDataSearching').hide().load('@Url.Action("GetTasks", "databases")?SearchDB=' + SearchValue).show(1000);
			alertify.set('notifier', 'delay', 2);
			alertify.notify('Данные по нетиповым задачам обновлены!');
		});

		$("#SearchNotTemplate").bind('input', function () {
			var SearchValue = $("#SearchNotTemplate").val();
			var SetData = $("#NotTemDataSearching");
			$('#NotTemDataSearching').load('@Url.Action("GetTasks", "databases")?SearchDB=' + SearchValue);
		});

		$("#btnupdnottasksex").on('click', function () {
			var SearchValue = $("#SearchNotTask").val();
			var SetData = $("#NotTaskDataSearching");
			var SearchIDDB = '@ViewBag.ID_DB';
			$('#NotTaskDataSearching').hide().load('@Url.Action("GetNotTasks", "databases")?iddb=' + SearchIDDB + '&SearchDB=' + SearchValue).show(1000);
			alertify.set('notifier', 'delay', 2);
			alertify.notify('Данные по нетиповым задачам обновлены!');
		});
	});

</script>

