@model IEnumerable<APP_PG_USERS_ROLES_SERVICE.Models.databases>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.db_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.oid_db)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.servers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.db_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.oid_db)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.servers.id_srv)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_db">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_db">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_db">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
