@model APP_PG_USERS_ROLES_SERVICE.Models.roles

@{

}

<div class="modal fade" id="AddUser">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Добавить пользователя</h4>
                <button type="button" class="close btn app-btn-secondary" data-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                    </svg>
                </button>
                
            </div>
            <div class="modal-body">
                <form asp-action="CreateUser" id="FormAddUser" method="post" data-ajax="true" data-ajax-method="POST" data-ajax-success="Bindgrid"
                      asp-antiforgery="true"
                    >
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <input name="srvid" type="hidden" value="@ViewBag.srvid.ToString()" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row g-4 settings-section">
                        <div class="col-12 col-md-6">
                            <label class="form-label">Логин пользователя</label> 
                            <span class="ms-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Необходимо указать логин по которому пользователь сможет подключаться к БД">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                                    <circle cx="8" cy="4.5" r="1" />
                                </svg>
                            </span>
                            <input asp-for="role_name" class="form-control" />
                            <span asp-validation-for="role_name" class="text-danger"></span>
                        </div>
                        <div class="col-12 col-md-6">
                            <label asp-for="role_pass" class="form-label"></label>
                            <input asp-for="role_pass" class="form-control" />
                            <span asp-validation-for="role_pass" class="text-danger"></span>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="row g-4 settings-section">
                     <div class="col-12 col-md-6">
                            <label asp-for="email" class="form-label"></label>
                            <input asp-for="email" class="form-control" />
                            <span asp-validation-for="email" class="text-danger"></span>
                        </div>
                        <div class="col-12 col-md-6">
                            <label asp-for="phone" class="form-label"></label>
                            <input asp-for="phone" class="form-control" />
                            <span asp-validation-for="phone" class="text-danger"></span>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="row g-4 settings-section">
                    <div class="col-12 col-md-4">
                        <label asp-for="fam" class="form-label"></label>
                        <input asp-for="fam" class="form-control" />
                        <span asp-validation-for="fam" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-md-4">
                        <label asp-for="im" class="form-label"></label>
                        <input asp-for="im" class="form-control" />
                        <span asp-validation-for="im" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-md-4">
                        <label asp-for="otch" class="form-label"></label>
                        <input asp-for="otch" class="form-control" />
                        <span asp-validation-for="otch" class="text-danger"></span>
                    </div>
                    </div>
                    <hr class="my-4">
                    <div class="row g-4 settings-section">
                        <div class="col-12 col-md-6">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="is_new_password" /> @Html.DisplayNameFor(model => model.is_new_password)
                                </label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="is_login" checked /> @Html.DisplayNameFor(model => model.is_login)
                                </label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="is_superuser" /> @Html.DisplayNameFor(model => model.is_superuser)
                                </label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <label asp-for="valid_until" class="form-label">Срок действия пароля</label>
                            <input asp-for="valid_until" class="form-control" />
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="col-12 col-md-12">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" value="true" type="checkbox" name="isrole" id="isrole" /> Вы хотите добавить добавить существующего пользователя?
                            </label>
                            <label style="color: red;">Внимание! При проставлении данного параметра, необходимо указать только логин пользователя (прочие параметры будут игнорироваться)</label>
                        </div>
                    </div>
                    
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" data-save="modal">Сохранить</button>
            </div>
        </div>
    </div>
</div>


