@model APP_PG_USERS_ROLES_SERVICE.Models.roles

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>roles</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_role" />
            <div class="form-group">
                <label asp-for="role_name" class="control-label"></label>
                <input asp-for="role_name" class="form-control" />
                <span asp-validation-for="role_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="role_pass" class="control-label"></label>
                <input asp-for="role_pass" class="form-control" />
                <span asp-validation-for="role_pass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phone" class="control-label"></label>
                <input asp-for="phone" class="form-control" />
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fam" class="control-label"></label>
                <input asp-for="fam" class="form-control" />
                <span asp-validation-for="fam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="im" class="control-label"></label>
                <input asp-for="im" class="form-control" />
                <span asp-validation-for="im" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="otch" class="control-label"></label>
                <input asp-for="otch" class="form-control" />
                <span asp-validation-for="otch" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="is_new_password" /> @Html.DisplayNameFor(model => model.is_new_password)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="is_login" /> @Html.DisplayNameFor(model => model.is_login)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="is_superuser" /> @Html.DisplayNameFor(model => model.is_superuser)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="is_createdb" /> @Html.DisplayNameFor(model => model.is_createdb)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="is_createrole" /> @Html.DisplayNameFor(model => model.is_createrole)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="is_inherit" /> @Html.DisplayNameFor(model => model.is_inherit)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="is_replication" /> @Html.DisplayNameFor(model => model.is_replication)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="valid_until" class="control-label"></label>
                <input asp-for="valid_until" class="form-control" />
                <span asp-validation-for="valid_until" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
