@model IEnumerable<APP_PG_USERS_ROLES_SERVICE.Models.roles>

<table class="table">
	<thead>
		<tr>
			<th>
				Логин
			</th>
			<th>
				ФИО
			</th>
			<th>
				Контакты
			</th>
			<th>
				Срок пароля
			</th>
			<th>
				LOGIN
			</th>
			<th>
				SUPERUSER
			</th>
			<th>
				CREATEDB
			</th>
			<th>
				CREATEROLE
			</th>
			<th>
				INTERHIT
			</th>
			<th>
				REPLICATION
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			if (item.is_login || item.fam != null)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.role_name)
					</td>
					<td>
						<p>@Html.Raw(item.fam) @Html.DisplayFor(modelItem => item.im) @Html.DisplayFor(modelItem => item.otch)</p>
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.email) <br/> @Html.DisplayFor(modelItem => item.phone)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.valid_until)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.is_login)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.is_superuser)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.is_createdb)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.is_createrole)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.is_inherit)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.is_replication)
					</td>
					<td>
						@if (item.role_name != "postgres")
						{
							<button type="button" data-toggle="ajax-modal" style="color: darkorange;padding: 0px;" data-target="#EditUser" class="BtnModalView btn btn-link" data-url="@Url.Action("EditModalUser","Roles", new { id=item.id_role})">
								<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
									<path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
								</svg>
							</button>
							<button type="button" data-toggle="ajax-modal" style="color: red;padding: 0px;" data-target="#EditUser" class="BtnModalView btn btn-link" data-url="@Url.Action("DeleteAll","Roles", new { id=item.id_role})">
								<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-x-octagon" viewBox="0 0 16 16">
									<path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z" />
									<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
								</svg>
							</button>
						}
					</td>
				</tr>
			}

		}
	</tbody>
</table>