@model APP_PG_USERS_ROLES_SERVICE.Models.rolesdata

@{
	ViewData["Title"] = "Index";
}


<nav id="orders-table-tab" class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
	<a class="flex-sm-fill text-sm-center nav-link active" id="roles-list-tab" data-bs-toggle="tab" href="#roles-list" role="tab" aria-controls="roles-list" aria-selected="true">Список пользователей и ролей</a>
	<a class="flex-sm-fill text-sm-center nav-link" id="roles-listservers-tab" data-bs-toggle="tab" href="#roles-listservers" role="tab" aria-controls="roles-listservers" aria-selected="false">Пользователи и роли по серверам</a>
</nav>

<div class="tab-content" id="orders-table-tab-content">
	<div class="tab-pane fade show active" id="roles-list" role="tabpanel" aria-labelledby="roles-list-tab">
		<div class="row gy-4">
			<div class="col-12 col-lg-12">
				<div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">
					<div class="app-card-header p-3 border-bottom-0">
						<div class="row align-items-center gx-3">
							<div class="col-auto">
								<div class="app-icon-holder">
									<svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
										<path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z" />
									</svg>
								</div><!--//icon-holder-->

							</div><!--//col-->
							<div class="col-auto">
								<h4 class="app-card-title">Пользователи</h4>
							</div><!--//col-->
							<div class="col-auto">
								@Html.TextBox("SearchUser","",new { @class="form-control", placeholder="Поиск по пользователям..."})
							</div><!--//col-->
						</div><!--//row-->
					</div><!--//app-card-header-->
					<div class="app-card-body px-4 w-100">

						<div class="item border-bottom py-3" style="min-height: 200px;max-height: 200px; overflow-y:auto;-webkit-overflow-scrolling: touch;">
							<div id="UserSearching">
								@{
									Html.RenderPartial("GetUsers", Model.roles);
								}
							</div>
						</div><!--//item-->
					</div><!--//app-card-body-->
					<div class="app-card-footer p-4 mt-auto">

						<input type="submit" value="Обновить данные с сервера" id="btnupdusr" data-toggle="modal" data-target="#myModal" class="btn app-btn-secondary" />
						<button type="button" data-toggle="ajax-modal" data-target="#AddRole" class="BtnModalView btn app-btn-secondary" data-url="@Url.Action("CreateNewUser","Roles")">Добавить пользователя</button>

					</div><!--//app-card-footer-->

				</div><!--//app-card-->
			</div><!--//col-->
			<div class="col-12 col-lg-12">
				<div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">
					<div class="app-card-header p-3 border-bottom-0">
						<div class="row align-items-center gx-3">
							<div class="col-auto">
								<div class="app-icon-holder">
									<svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-person-gear" viewBox="0 0 16 16">
										<path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm.256 7a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Zm3.63-4.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382l.045-.148ZM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z" />
									</svg>
								</div><!--//icon-holder-->

							</div><!--//col-->
							<div class="col-auto">
								<h4 class="app-card-title">Роли</h4>
							</div><!--//col-->
							<div class="col-auto">
								@Html.TextBox("SearchRole","",new { @class="form-control", placeholder="Поиск по ролям..."})
							</div><!--//col-->
						</div><!--//row-->
					</div><!--//app-card-header-->
					<div class="app-card-body px-4 w-100">
						<div class="item border-bottom py-3" style="min-height: 200px;max-height: 200px; overflow-y:auto;-webkit-overflow-scrolling: touch;">
							<div id="RoleSearching">
								@{
									Html.RenderPartial("GetRoles", Model.roles);
								}
							</div>
						</div><!--//item-->
					</div><!--//app-card-body-->
					<div class="app-card-footer p-4 mt-auto">

						<input type="submit" value="Обновить данные с сервера" id="btnupdrl" data-toggle="modal" data-target="#myModal" class="btn app-btn-secondary" />
						<button type="button" data-toggle="ajax-modal" data-target="#AddRole" class="BtnModalView btn app-btn-secondary" data-url="@Url.Action("CreateNewRole","Roles")">Добавить роль</button>

					</div><!--//app-card-footer-->

				</div><!--//app-card-->
			</div><!--//col-->
		</div><!--//row-->
	</div>
	<div class="tab-pane fade show" id="roles-listservers" role="tabpanel" aria-labelledby="roles-listservers-tab">
		<div class="row gy-4">
			<div class="col-12 col-lg-12">
				<div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">
					<div class="app-card-header p-3 border-bottom-0">
						<div class="row align-items-center gx-3">
							<div class="col-auto">
								<div class="app-icon-holder">
									<svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
										<path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z" />
									</svg>
								</div><!--//icon-holder-->

							</div><!--//col-->
							<div class="col-auto">
								<h4 class="app-card-title">Пользователи и роли по серверам</h4>
							</div><!--//col-->
							<div class="col-auto">
								@Html.TextBox("SearchUserServ","",new { @class="form-control", placeholder="Поиск..."})
							</div><!--//col-->
						</div><!--//row-->
					</div><!--//app-card-header-->
					<div class="app-card-body px-4 w-100">
						<div class="item border-bottom py-3" style="min-height:600px;max-height: 600px; overflow-y:auto;-webkit-overflow-scrolling: touch;">
							<div id="RoleServSearching">
								@{
									Html.RenderPartial("GetRolesUsersServers", Model.roles_users_servers);
								}
							</div>
						</div><!--//item-->
					</div><!--//app-card-body-->
					<div class="app-card-footer p-4 mt-auto">

						<input type="submit" value="Обновить данные с сервера" id="btnupdusrsrv" data-toggle="modal" data-target="#myModal" class="btn app-btn-secondary" />
						<button type="button" data-toggle="ajax-modal" data-target="#AddRole" class="BtnModalView btn app-btn-secondary" data-url="@Url.Action("CreateNewUser","Roles")">Добавить пользователя</button>
						<button type="button" data-toggle="ajax-modal" data-target="#AddRole" class="BtnModalView btn app-btn-secondary" data-url="@Url.Action("CreateNewRole","Roles")">Добавить роль</button>
						<button type="button" data-toggle="ajax-modal" data-target="#AddRole" class="BtnModalView btn app-btn-secondary" data-url="@Url.Action("CreateNewRole","Roles")">Клонирование списом</button>
					</div><!--//app-card-footer-->

				</div><!--//app-card-->
			</div><!--//col-->
		</div><!--//row-->
	</div>
</div>


<div id="PlaceHolderHere">
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

<script>
	$(document).ready(function () {
		var PlaceHolderElement = $('#PlaceHolderHere');
		$(document).on('click', '.BtnModalView', function (event) {
			var url = $(this).data('url');
			$.get(url).done(function (data) {
				PlaceHolderElement.html(data);
				PlaceHolderElement.find('.modal').modal('show');
			});
		});
		PlaceHolderElement.on('click', '[data-save="modal"]', function (event) {
			event.preventDefault();
			var form = $(this).parents('.modal').find('form');
			var actionUrl = form.attr('action');
			var dataToSend = form.serialize();
			$.ajax({
				type: 'POST',
				url: actionUrl,
				data: dataToSend,
				contentType: 'application/x-www-form-urlencoded',
				success: function (data) {
					$('#imgSpinner1').show(1000);
					setTimeout(function () {
						PlaceHolderElement.find('.modal').modal('hide');
						alertify.set('notifier', 'delay', 5);
						alertify.notify(data);
						$("#btnupdusrsrv").click();
						$("#btnupdusr").click();
						$("#btnupdrl").click();
					}, 3000);

				},
				error: function (xhr) {
					setTimeout(function () {
						$('#imgSpinner2').show(1000);
						$('#imgSpinner1').hide(1000);
						alertify.set('notifier', 'delay', 2);
						alertify.error(xhr.responseText);
						console.log(xhr.responseText);
					}, 1500);

				},
				beforeSend: function () {
					$('#imgSpinner2').hide();
					$('#imgSpinner1').show(1000);
				}
				// hides the loader after completion of request, whether successfull or failor.

			});

		});
		PlaceHolderElement.on('click', '[data-dismiss="modal"]', function (event) {
			event.preventDefault();
			PlaceHolderElement.find('.modal').modal('hide');
		});

		$("#SearchUser").bind('input', function () {
			var SearchValue = $("#SearchUser").val();
			var SetData = $("#UserSearching");
			$('#UserSearching').load('@Url.Action("GetUsers", "roles")?Search=' + SearchValue);
		});

		$("#SearchRole").bind('input', function () {
			var SearchValue = $("#SearchRole").val();
			var SetData = $("#RoleSearching");
			$('#RoleSearching').load('@Url.Action("GetRoles", "roles")?Search=' + SearchValue);
		});

		$("#SearchUserServ").bind('input', function () {
			var SearchValue = $("#SearchUserServ").val();
			var SetData = $("#RoleServSearching");
			$('#RoleServSearching').load('@Url.Action("GetRolesUsersServers", "roles")?Search=' + SearchValue);
		});
		$("#btnupdusrsrv").on('click', function () {
			var SearchValue = $("#SearchUserServ").val();
			var SetData = $("#RoleServSearching");
			$('#RoleServSearching').hide().load('@Url.Action("GetRolesUsersServers", "roles")?Search=' + SearchValue).show(1000);
			alertify.set('notifier', 'delay', 2);
			alertify.notify('Данные по пользователям обновлены!');
		});
		$("#btnupdusr").on('click', function () {
			var SearchValue = $("#SearchUser").val();
			var SetData = $("#UserSearching");
			$('#UserSearching').hide().load('@Url.Action("GetUsers", "roles")?Search=' + SearchValue).show(1000);
			alertify.set('notifier', 'delay', 2);
			alertify.notify('Данные по пользователям обновлены!');
		});
		$("#btnupdrl").on('click', function () {
			var SearchValue = $("#SearchRole").val();
			var SetData = $("#RoleSearching");
			$('#RoleSearching').hide().load('@Url.Action("GetRoles", "roles")?Search=' + SearchValue).show(1000);
			alertify.set('notifier', 'delay', 2);
			alertify.notify('Данные по ролям обновлены!');
		});
	});

</script>

