@model IEnumerable<APP_PG_USERS_ROLES_SERVICE.Models.db_grants>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.date_time_exec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.is_success)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.roles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.databases)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.db_grant_privs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date_time_exec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.is_success)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roles.id_role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.databases.id_db)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.db_grant_privs.id_db_grant_privs)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_db_grants">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_db_grants">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_db_grants">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
