@model IEnumerable<APP_PG_USERS_ROLES_SERVICE.Models.tasks_not_typical_grants>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.task_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.task_descr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.task_script)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.count_params)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.task_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.task_descr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.task_script)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.count_params)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_task">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_task">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_task">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
