@model IEnumerable<APP_PG_USERS_ROLES_SERVICE.Models.srv_roles_relations>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.oid_roles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.srv_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.role_id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.oid_roles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.srv_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.role_id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_srv_role">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_srv_role">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_srv_role">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
